<h1>This page should show all users who would like to join this event</h1>

<div class="card-product">
  <div class= "row">
    <div class= "col-6 col-md-4">
      <div class="card-block">
          <% @potential_attendees.each do |attendee|%>
        <div class= "card-title">
            <h2><%= attendee.user %></h2>
            <img src="https://data.whicdn.com/images/81830527/large.jpg />
          <% end %>
        </div>
        <div class= "card-body">
          <p><strong>Message:</strong> </p>
          <p> Hi! I would like to join you for the frindly ice hockey match.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="card-product">
  <img src=https://smp.vgc.no/v2/images/a6f2d2a4-156c-41b4-be4c-1229e7ae8ae8?fit=crop&h=1242&w=1657&s=5a4a86aab8fb8d396167f48c5b70be35138ac655>
    <h2> Christian</h2>

    <p> Jeg vil gjerne gå til Black Metal konserten. Hvilken tid vil du møte?.</p>
  </div>
</div>

<div class="card-product">
  <img src=https://smp.vgc.no/v2/images/a6f2d2a4-156c-41b4-be4c-1229e7ae8ae8?fit=crop&h=1242&w=1657&s=5a4a86aab8fb8d396167f48c5b70be35138ac655>
    <h2> Johannes</h2>

    <p> Moin! Ich wuerde gern einen neue Rezept mit euch zusammen kochen!</p>
  </div>
</div>
<div class="card-product">
  <img src=https://smp.vgc.no/v2/images/a6f2d2a4-156c-41b4-be4c-1229e7ae8ae8?fit=crop&h=1242&w=1657&s=5a4a86aab8fb8d396167f48c5b70be35138ac655>
    <h2> Der Wolf</h2>

    <p> Servus ! Ich heisse Henrik Wolf und bin kurz in der stadt mir wurder sehr viel spass machen  wenn wir zuasammen  zu den Operaen gehen..</p>
  </div>
</div>
<div class="card-product">
  <img src=https://smp.vgc.no/v2/images/a6f2d2a4-156c-41b4-be4c-1229e7ae8ae8?fit=crop&h=1242&w=1657&s=5a4a86aab8fb8d396167f48c5b70be35138ac655>
    <h2> Saskia</h2>

    <p> WOO SAILING PARTYYY!!!</p>
  </div>
</div>


