<div class="form-container background">
  <div class="col-4">
    <div class="form">
      <%= render 'shared/search_form'%>
    </div>
  </div>

  <div class="col-6">
    <div class="home-info">
      <h1> Welcome to the <strong class="home-info-strong">Friendzone</strong></h1>
      <p> Interested in trying out new things, meeting new people or simply bored? <br> With friendzone you can easily join <strong>different activities</strong>. Check out all the exciting activities <strong>near you!</strong></p>
    </div>
  </div>
</div>





