.main-container {
  display: flex;
}

.event-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
}


.cards {
  margin: 60px;
  height: 150px;
  padding-top:10px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  border-radius: 10px;
  justify-content: space-around;
}


  .img-text {
  }


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.attendees{
  display: flex;
   justify-content: space-between;
}

.buttons {

display: flex;
justify-content: space-between;
align-items: flex-end;

}

.buttons a{
  margin: 0 5px;
}

.card-body {
  font-style: roboto
}
