.main-container {
  display: flex;
}

.event-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


.cards {
  margin: 60px;
  height: 150px;
  padding-top:10px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  border-radius: 10px;
  justify-content: space-around;
}

.card-category {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .img-text {
  }


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


